:root {
    --global-bg: #A9CBD9;
    --light-blue: #254159;
    --text-selection: #BF0436;
    --bnt-bg: #2D83A6;
    --bnt-hover-color: #164773;

}

.card-widget {
    border-radius: 12px !important;
    box-shadow: 0 4px 8px rgba( 11 , 43 , 64 , 0.25);
}